[submodule "themes/diaspora"]
	path = themes/diaspora
	url = https://github.com/Fechin/hexo-theme-diaspora.git
[submodule "themes/butterfly"]
	path = themes/butterfly
	url = https://github.com/jerryc127/hexo-theme-butterfly.git
